body {
    background-color: var(--ne10);
}

/* NAVBAR */
header.navbar {
    position: sticky;
    top: 0;
    z-index: 999;
    background: transparent !important;
    transition: background-color 0.3s ease;
}

header.navbar.scrolled {
    background: var(--ne10) !important; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header nav ul li a {
    font-family: 'satoshi';
    font-size: 18px;
    font-weight: 700 !important;
    line-height: 24px;
    color: var(--ne100);
}

header nav ul li a:hover {
    color: var(--darkblue00) !important;
}


/* PROMO */
section.promo {
    width: 100%;
    min-height: 350px;
    background-image: url('../images/product/bg-promo.png');
    border-radius: 48px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--ne00);
    font-family: 'satoshi';
    margin-top: 0;
}

section.promo div h1 {
    font-family: 'integral';
    font-weight: 500;
    font-size: 66px;
}

section.promo div p:first-child {
    font-size: 22px;
    font-weight: 700;
}

section.promo div p:last-child {
    font-size: 18px;
    font-weight: 400;
}


/* CONTENT */
input.form-control {
    border: 1px solid var(--ne100);
    background-color: var(--ne00);
}

input.form-control:focus {
    box-shadow: 0 0 0 0.25rem rgba(238, 199, 126, 0.75);
    border-color: var(--yellow30);
    outline: none;
}

.cards .card {
    cursor: pointer;
    width: 270px;
    background-color: var(--ne00);
    color: var(--ne100);
}

.card-img-top img {
    height: 270px;
    transition: all 0.3s ease-in;
}

.card-img-top img:hover {
    transform: scale(1.13);
}

h5.card-title {
    font-family: 'satoshi';
    font-size: 18px;
    font-weight: 800;
}

h5.card-text {
    font-family: 'satoshi';
    font-size: 18px;
    font-weight: 500;
}

nav ul.pagination li a {
    background-color: var(--ne00);
    border-radius: 8px;
}



/* FOOTER */
footer {
    background-color: var(--ne20);
}

footer .subs {
    background-color: var(--ne100);
}

footer .subs h2 {
    font-size: 40px;
}

footer #contact {
    margin-top: 350rem;
}

footer #contact a {
    font-family: 'satoshi';
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; /* 150% */
    color: var(--ne100);
    text-decoration: none;
}

footer #contact a:hover {
    color: var(--darkblue00);
}

footer .copyright p,
footer .copyright p:last-child a {
    font-family: 'satoshi';
    font-size: 14px;
    font-weight: 500;
    color: var(--ne60);
    text-decoration: none;
}



/* COMPONENT */
.container {
    width: 90% !important;
    margin-top: 5%;
    padding: 0;
}

.btn-prim {
    padding: 0 20px;
    text-align: center;
    color: var(--ne00);
    font-family: 'satoshi';
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.25px;
    background-color: var(--ne100);
    border-radius: 8px;
}

.btn-prim:hover {
    color: var(--ne100);
    background-color: var(--yellow30);
}

.btn-prim:active {
    color: var(--yellow30) !important;
    background-color: var(--ne100) !important;
}
